.right {
  color: white;
  font-size: 2.4rem;
  width: 30rem;
  height: 47rem;
  margin-top: 8rem;
  margin-left: 50rem;
  z-index: 1;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  a {
    text-decoration: none;
    color: white;
    @media only screen and (max-width: 69em) {
      margin-right: -10rem;
    }
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-400px);
  }
  18% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(0);
  }
}