.product-related {
  text-align: center;

  &--swiper {
    border-top: 2px solid var(--color-grey-light-2) !important;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-grey-light-2) !important;

  }
}

.product-grid {
  border: none;
  border-right: 2px solid var(--color-grey-light-2) !important;
  text-align: left;
}
