
.section-4 {
  height: auto;
  border: var(--line);
}
.subscribeUs-section {
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: 10rem;

  padding: 5rem;
  align-items: center;
  margin-bottom: 10rem;
  @media only screen and (max-width: $bp-small) {
    padding: 2rem;
    margin-bottom: 5rem;
  }
  &__title{
  grid-column: 1/5;
    line-height: 1.2;
    @media only screen and (max-width: $bp-small-1) {
      grid-column: 1/-1;
    }
    & .paragraph {
      color: var(--best-color-grey);
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: -.01rem;
      @media only screen and (max-width: $bp-medium-2) {
        font-size: 1.6rem;
      }
      @media only screen and (max-width: $bp-small-1) {
        font-size: 2rem;
      }
    }
    & .title_1 {
     text-transform: uppercase;
      font-size: 4.4rem;
      margin-bottom: 0;
      letter-spacing: .7rem;
    }
  }

  &__form {
    grid-column: 5/-1;
    @media only screen and (max-width: $bp-medium-2) {
      grid-row: 2/3;
      grid-column: 1/-1;
    }
    .form {
      display: flex;
      align-items: center;
      justify-content: center;

      &__input {
        font-family: inherit;
        font-size: 1.8rem;
        flex: 0 0 65%;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        transition: all .2s;
        height: 6rem;


        &:focus {
          outline: none;
          background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
          font-weight: 100;
          color: var(--color-grey-light-4);
        }
      }

      &__button {
        background-color: var(--color-black);
        height: 6rem;
        flex: 1;
        color: white;
        text-transform: uppercase;
        font-size: 1.6rem;
        font-family: inherit;
        letter-spacing: .2rem;
        transition: all .3s;
        cursor: pointer;
        position: relative;
        display: inline-block;
        overflow: hidden;
        z-index: 1;
        border: none;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          width: 3%;
          height: 100%;
          background-color : var(--color-primary);
          left: 0;
          border-radius: 0  50% 50% 0;
          transition: .8s;
          z-index: -1;
        }
        &:hover:before {
          width: 180%; }

        &:focus {
          outline: none;
        }

      }

    }
  }
}

.title-3 {
  color: var(--best-color-grey);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
}

